
@{
    ViewBag.Title = "FindItem";
}
<h2>Add a new item</h2>

<form method="post">
    <label class="control-label">Name</label>
    <div class="flex-container">
        <input type="text" name="Name" />
    </div><br />
    <label class="control-label">Description</label>
    <div class="flex-container">
        <input type="text" name="Description" />
    </div><br />
    <label class="control-label">Quantity</label>
    <div class="flex-container">
        <input type="text" name="Quantity" />
    </div><br />
    <label class="control-label">Price</label>
    <div class="flex-container">
        <input type="text" name="Price" />
        </div><br />


</form>

@*<form action="/Home/AddUser" method="post">
    <label class="control-label">First Name </label>
    <div class="flex-container">
        <input id="firstName" type="text" name="FirstName" class="form-control" onkeyup="ValidateFirstName()" />
        <p id="message"></p>
    </div>*@
