
@{
    ViewBag.Title = "FindItem";
}
<h2>Add a new item</h2>
<link href="~/Content/StyleStuff.css" rel="stylesheet" />

<form action="/Home/AddNewItem" method="post">
    <label class="control-label">Name</label>
    <div class="flex-container">
        <input type="text" name="Name" required />
    </div><br />
    <label class="control-label">Description</label>
    <div class="flex-container">
        <input type="text" name="Description" />
    </div><br />
    <label class="control-label">Quantity</label>
    <div class="flex-container">
        <input type="text" name="Quantity" />
    </div><br />
    <label class="control-label">Price</label>
    <div class="flex-container">
        <input type="text" name="Price" />
    </div><br />
    <input type="submit" value="Save" class="btn-default" />
    <input type="reset" />

</form>


