@{
    ViewBag.Title = "Home Page";
}

<h1>Welcome to GC Coffee Shop!</h1>
<link href="~/Content/StyleStuff.css" rel="stylesheet" />
<h2>
    <a href="/Home/Registration">Register</a>
</h2>
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Item Name</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>


    @foreach (var item in ViewBag.Test)
    {
        
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Quantity</td>
                <td>@item.Price</td>
                <td><a href=" /Home/AddItem?name=@item.Name">Update</a></td>
                <td><a href="/Home/DeleteItem?name=@item.Name" onclick="return confirm('Are you sure you want to delete this item?')">Delete</a></td>
            </tr>
      
    }
</table>
<a href="/Home/AddItem">Add a new item</a>
   

