body {
    background-color:aquamarine;
}
h2{
    color:deeppink;
    text-align:center;
}
div{
    color:darkorchid;
   
}
h1{
    color:crimson;
    text-align:center;
}
h3{
    color:darkviolet;
}
